/* contact us section styles */
.contact{
  overflow: hidden;
}

.contact .hero {
  background: transparent linear-gradient(96deg, #00aa72 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.contact-us-main-section .hero-heading {
  color: black;
  margin-bottom: 0px;
}

.contact-us-main-section {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #ececec;
}

.contact-us-main-section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-us-main-section-form {
  flex: 1;
}

.contact-us-sub-heading {
  font-size: 1rem;
  font-family: "Quadran-Bold";
  color: var(--primary-color);
  margin-bottom: 40px;
}

.contact-us-main-section-form textarea {
  border: 2px solid #0a996a2e;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 20px;
  font-family: "Quadran-Medium";
}

.contact-us-main-section-form .contact-column {
  gap: 10px;
  margin-bottom: 10px;
}

.contact-us-main-section-form button {
  margin-left: auto;
}

.contact-us-main-section-form form {
  display: flex;
  flex-direction: column;
}

.contact-us-column-1 {
  display: flex;
  flex-direction: column;
}

.contact-us-column-1 .section-heading {
  font-size: 3.437rem;
  margin-bottom: 50px;
}

.contact-us-column-2 .section-heading {
  margin-bottom: 30px;
}

.contact-us-column-2 .about-showcase-container {
  margin-bottom: 0px;
}

/* contact us banner styles */
.contact-us-banner-section {
  border-top: 1px solid #ececec;
}

/* infra section styles */
.contact-us-infra-section .section-heading {
  text-align: center;
  margin-bottom: 30px;
}

.contact-us-infra-section {
  padding-top: 0px;
  position: relative;
  border-bottom: 1px solid #ececec;
}

/* reach out section styles */
.reach-out-section {
  padding-left: clamp(50px, 7.81vw, 80px);
  padding-right: clamp(50px, 7.81vw, 80px);
  padding-top: 50px;
  padding-bottom: 50px;
}

.reach-out-container {
  padding: 50px 100px;

  background-color: #f7ffec;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.reach-out-heading {
  font-size: 0.875rem;
  font-family: "Quadran-Bold";
  text-align: center;
  margin-bottom: 10px;
}

.reach-out-holders {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reach-out-holders p {
  font-size: 1.25rem;
  font-family: "Quadran-Bold";
  text-align: center;
  letter-spacing: -1px;
}

.reach-out-holder-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 80px;
}

.reach-out-holder-divider {
  height: 60px;
  width: 8px;
  background-color: var(--primary-color);
}

.reach-out-holder-column img {
  margin-bottom: 30px;
}

/* global presence section styles */
.global-presence-section {
  padding-left: clamp(50px, 7.81vw, 80px);
  padding-right: clamp(50px, 7.81vw, 80px);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-presence-section .section-heading {
  text-align: center;
}

.global-presence-sub-heading {
  font-size: 1.125rem;
  font-family: "Quadran-Light";
  text-align: center;
  margin-bottom: 40px;
}

.country-card-container {
  background-color: #f9f9f9;
  padding: clamp(26px, 2.083333vw, 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 20.833vw;
  padding-top: clamp(33px, 2.6041vw, 50px);
  padding-bottom: clamp(13px, 1.04vw ,20px);
}

.country-card-container .country-card-time{
  font-family: "Quadran-Bold";
  font-size: 1.125rem;
}

.country-num{
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.125rem;
  font-family: "Quadran-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.flag-container {
  width: 3.645vw;
  height: 3.645vw;
  border-radius: 50%;
  border: 3px solid #089768;
  padding: 4px;
  margin-bottom: 15px;
}

.country-card-container h2 {
  font-size: 1.125rem;
  font-family: "Quadran-Bold";
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
}

.country-card-container p {
  font-size: 1.125rem;
  font-family: "Quadran-Light";
  text-align: center;
}

.all-countries {
  display: flex;
  gap: 20px;
}

#path-3 {
  position: absolute;
  right: -5px;
  top: 40%;
}

#path-4 {
  display: none;
  position: absolute;
  top: 40%;
  left: -5px;
}
