/* services page styles */
.services-hero {
  padding-left: clamp(50px, 7.81vw, 140px);
  background-repeat: no-repeat;
  height: 628px;
  position: relative;
  /* background-size: 95%; */
  background-size: cover;
  background-position: right top;
}

/* .digital-data-service-page-bg{
    background-image: url("../../public/service-banner.png");
} */

/* .analytics-data-service-page-bg{
    background-image: url("../../public/analytics-service-page-banner.png");
} */

.services-hero h1 {
  font-family: "Quadran-Black";
  font-size: 36px;
  color: white;
  margin-bottom: 50px;
  line-height: 40px;
  letter-spacing: -1px;
}

.bg-decor {
  height: 400px;
  background: transparent linear-gradient(109deg, #089768 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  position: relative;
  z-index: -1;
}

/* glimpse section styles */
.glimpse-section {
  display: flex;
  gap: 30px;
}

.glimpse-section .section-content {
  color: black;
}

.glimpse-column-1 {
  flex: 2;
  padding-right: clamp(50px, 7.81vw, 140px);
}

.glimpse-column-2 {
  flex: 1;
  background-color: #f7ffec;
  border-radius: 0px 0px 60px 0px;
  padding: 30px;
}

.glimpse-column-2 .glimpse-sub-heading {
  font-size: var(--general-text-no-frequent);
  font-family: "Quadran-Medium";
  margin-bottom: 35px;
}

.glimpse-btn {
  font-size: 15px;
  font-family: "Quadran-Medium";
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.glimpse-column-2 .section-heading span {
  color: var(--primary-color);
}

/* services section styles */
.services-section {
  border-top: 1px solid #f3f1f1;
  background-image: url("../../public/ellipse.svg");
  background-repeat: no-repeat;
  background-position: top 50px center;
  padding-top: 100px;
}

.services-section .section-heading {
  text-align: center;
  font-family: "Quadran-Black";
}

.service-sub-heading {
  font-size: 28px;
  font-family: "Quadran-Bold";
  text-align: center;
  line-height: 32px;
  margin-bottom: 50px;
  letter-spacing: -1px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 30px;
}

.services-container a{
  text-decoration: none;
}

.service {
  padding: 30px;
  border: 2px solid #f8f8f8;
  max-width: 443px;
  flex: 1;
}

.service:hover 

.service a{
  text-decoration: none;
}

.service .section-content {
  color: black;
}

.service img {
  margin-bottom: 50px;
}

.service-heading-unq {
  font-size: var(--heading-highlight);
  font-family: "Quadran-Bold";
  margin-bottom: 15px;
  letter-spacing: -1px;
  text-decoration: none;
}

/* strategic path section styles */
.strategic-path-section {
  background-color: var(--primary-color);
  color: white;
  display: flex;
}

.strategic-path-content {
  flex: 0.75;
  padding: 30px;
}

.accordation-container {
  flex: 2;
}

.accordation-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.accordation-container .accordation-column {
  flex: 1;
}

.accordation {
  background-color: white;
  gap: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordation div:first-child {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  gap: 20px;
  /* cursor: pointer; */
}

.accordation div:first-child .accordation-arrow {
  rotate: 180deg;
  transition: rotate .5s;
}

.accordation.active div:first-child .accordation-arrow {
  rotate: 242deg;
}

.accordation .accordation-heading {
  color: black;
  font-size: var(-heading-highlight);
  font-family: "Quadran-Bold";
  margin-right: auto;
}

.accordation-content {
  background-color: #f9f9f9;
  border-radius: 0px 0px 5px 5px;
  color: black;
  max-height: 0px;
  overflow: hidden;
  transition: all 1s;
}

.accordation-content > div{
  padding: 15px 20px;
}

.accordation-content.accordation-active {
  max-height: 200px;
}



.strategic-path-sub-heading {
  font-family: "Quadran-Bold";
  font-size: var(--general-text);
  margin-bottom: 50px;
}

/* success path section styles */
.success-path-section .section-heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
}

.success-path-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 80px;
}

.success-path-column {
  flex: 1;
  display: flex;
  gap: 20px;
}

.success-path-heading {
  font-size: var(--heading-highlight);
  font-family: "Quadran-Bold";
  margin-bottom: 15px;
  letter-spacing: -1px;
}

.success-path-content-column::before {
    content: "";
    display: block;
    border-top: 3px solid var(--primary-color);
    width: 30%; /* Set the width of the border */
    padding-bottom: 20px;
}



.success-path-content-column .section-content {
  color: black;
  margin-bottom: 0px;
}

.success-path-percentage {
  font-family: "Quadran-Bold";
  font-size: 60px;
  color: var(--primary-color);
  margin-bottom: 0px;
}

.success-path-content-highlight.section-content {
  font-family: "Quadran-Medium";
}

.succes-path-num {
  font-family: "Quadran-Bold";
  font-size: 64px;
  color: #efefef;
  margin-top: -20px;
}

.success-path-section .success-path-category-main-heading.sub-heading {
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.success-path-category {
  border-top: 5px solid var(--primary-color);
  padding: 30px;
  flex: 1;
  background-color: #f9f9f9;
}

.success-path-category .sub-heading {
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
}

.success-path-category .section-content {
  color: black;
  margin-bottom: 0px;
}

.success-path-category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.success-path-category img {
  margin-bottom: 30px;
}

.services-hero-content {
  width: 35%;
  position: absolute;
  bottom: clamp(50px, 7.81vw, 100px);
  left: clamp(50px, 14.58vw, 280px);
}

.services-hero-content .strip-slide-up span.row{
  line-height: 0.9;
}

/* main services page */
.service-listing .hero {
  background: transparent linear-gradient(96deg, #089768 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
  padding-bottom: clamp(50px, 7.81vw, 80px);
}

.service-listing-heading-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid #f3f1f1;
  position: relative;
}

.service-listing-heading-section div {
  flex: 1;
}

.service-listing-heading-section .heading1 {
  font-size: 16px;
  letter-spacing: -0.4px;
  font-family: "Quadran-Medium";
  color: #404040;
  margin-bottom: 30px;
}

.service-listing-heading-section .heading2 {
  font-family: "Quadran-Black";
  color: #404040;
  margin-bottom: 20px;
  font-size: 36px;
}

.service-listing-heading-section .heading3 {
  font-family: "Quadran-Black";
  font-size: 56px;
  line-height: 58px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.btn-container p {
  font-size: 15px;
  color: var(--primary-color);
  margin: 0;
}

.all-service-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.service-list-section .upper-heading {
  font-size: 16px;
  color: var(--primary-color);
  font-family: "Quadran-Bold";
  margin-bottom: 30px;
}

.all-services-list-head-container {
  display: flex;
}

.all-services-list-head-container > div {
  flex: 1;
}

.all-services-list-head-container h2 {
  margin-bottom: 50px;
}

.business-today-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.business-today-section h2 {
  font-size: 55px;
  margin-bottom: 10px;
  font-family: "Quadran-Bold";
  text-align: center;
  line-height: 58px;
}

.business-today-section > div {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.business-today-section p {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.business-today-section button {
  background-color: white;
  color: #404040;
  margin-right: auto;
  margin-left: auto;
}

.business-today-section button:hover {
  background-color: white;
}

.globe-image {
  margin-left: auto;
}

#path-5 {
  position: absolute;
  top: 65%;
  right: -4vw;
}

/* sub service page */
.sub-service .hero {
  padding-bottom: 0px;
  background: transparent linear-gradient(97deg, #089768 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
  height: 196px;
}

.sub-service .breadcrump {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: clamp(50px, 7.81vw, 140px);
  text-transform: uppercase;
}

.sub-service-heading-section {
  display: flex;
  flex-direction: column;
  /* padding-right: clamp(50px, 21.8vw, 420px); */
}

.sub-service-heading-section .section-heading {
  text-align: center;
  font-family: "Quadran-Black";
  text-transform: uppercase;
}

.sub-service-heading-section .section-heading span {
  text-align: center;
  color: var(--primary-color);
}

.sub-service-heading-section button {
  margin-left: auto;
  margin-right: auto;
}

.sub-service-sidespace {
  width: 25%;
}

.sub-service-heading-row {
  display: flex;
}

.sub-service-hero-section {
  padding-left: clamp(25px, 14.58vw, 280px);
  padding-right: clamp(25px, 14.58vw, 280px);
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  border-bottom: 1px solid #D6D6D6;
  display: flex;
  /* display: flex;
  gap: 50px; */
}

.sub-service-hero-section > div{
  width: 50%;
}

.sub-service-hero-section > div:first-child{
  padding: 50px 0px;
}

.sub-service-hero-section > div:last-child img{
  height: 100%;
  object-fit: cover;
}

.sub-service-hero-heading{
  font-size: 36px;
  font-family: "Quadran-Black";
  color: var(--primary-color);
  line-height: 40px;
  margin-bottom: 10px;
}

.sub-service-hero-sub-heading{
  color: #404040;
  font-size: 20px;
  font-family: "Quadran-Bold";
  margin-bottom: 10px;
}

.sub-service-hero-content{
  margin-bottom: 50px;
}


.sub-service-slider {
  width: 6%;
}

.sub-service-heading-content-section {
  display: flex;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: clamp(50px, 21.8vw, 420px);
  padding-right: clamp(50px, 7.81vw, 140px);
  border-top: 1px solid #f3f1f1;
}

.sub-service-heading-content-section h2 {
  font-family: "Quadran-Bold";
  font-size: 28px;
}

/* .sub-service-heading-content-section h2 span {
  color: var(--primary-color);
} */

.sub-service-heading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-offerings-section {
  display: flex;
  padding-right: clamp(50px, 14.53vw, 279px);
  padding-left: clamp(50px, 14.53vw, 279px);
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 30px;
  background: transparent linear-gradient(180deg, #f7ffec 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  border-top: 36px solid var(--primary-color);
  position: relative;
}

.service-offerings-section-col-1 {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sub-service .service-offerings-section-col-1{
  flex: 1;
}

.service-offerings-section-col-2 {
  flex: 1;
}

.service-offerings-section-middle-image{
  width: 325px;
  height: 100%;
  position: relative;
}

.service-offerings-section-middle-image > img{
  object-fit: cover;
}

.service-offerings-section-col-3 {
  flex: 2;
}

.section-small-heading {
  /* font-size: 16px; */
  font-size: 0.8333333333333333vw;
  color: var(--primary-color);
  font-family: "Quadran-Medium";
  margin-bottom: 30px;
}

.service-offerings-section-col-1 .section-heading {
  font-family: "Quadran-Black";
  font-size: 24px;
  font-size: 1.25vw;
  line-height: 28px;
  text-transform: uppercase;
}

.sub-service-content-section{
  margin-left: clamp(25px, 14.58vw, 280px);
  margin-right: clamp(25px, 14.58vw, 280px);
  display: flex;
}

.sub-service-content-section > div{
  width: 50%;
  padding: 50px;
}

.sub-service-content-section-column-1{
  border-left: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
}

.sub-service-content-section-column-2{
  border-right: 1px solid #D6D6D6;
}

.sub-service-content-section-column-2 .highlight{
  font-size: 24px;
  font-family: "Quadran-Bold";
  line-height: 28px;
}

.sub-service-content-section-column-1 h2{
  font-size: 28px;
  font-family: "Quadran-Black";
  line-height: 32px;
  margin-bottom: 30px;
}

.need-something-card {
  padding: 30px;
  background-color: var(--primary-color);
  border-radius: 6px;
  margin-top: auto;
  /* margin-bottom: 50px; */
  width: 291px;
  z-index: 1;
  position: relative;
}

.need-something-card h2 {
  color: white;
  line-height: 30px;
  margin-bottom: 10px;
}

.need-something-card p {
  color: white;
  font-size: 0.8333333333333333vw;
  font-family: "Quadran-Regular";
  letter-spacing: -0.5px;
  margin-bottom: 25px;
}

.need-something-btn {
  /* font-size: 15px; */
  font-size: 0.8333333333333333vw;
  color: white;
  font-family: "Quadran-Medium";
  display: flex;
  align-items: center;
  gap: 20px;
}

.service-offerings-section-col-3 h2 {
  /* font-size: 30px; */
  font-size: 1.56vw;
  font-family: "Quadran-Bold";
  line-height: 35px;
  color: #404040;
  letter-spacing: -1px;
  /* cursor: pointer; */
}

.service-offerings-section-col-3 p {
  /* font-size: 15px; */
  font-size: 0.8333333333333333vw;
  font-family: "Quadran-Light";
}

.service-offerings-toggle-head {
  margin-bottom: 23px;
  display: flex;
  gap: 30px;
  /* cursor: pointer; */
}

.service-offerings-toggle-head a{
  text-decoration: none;
  /* cursor: pointer; */
}

.service-offerings-toggle-head.active h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.service-offerings-section-col-3 .service-offerings-toggle-head:last-child {
  margin-bottom: 0px;
}

.service-offerings-toggle-num p {
  font-size: 28px;
  font-family: "Quadran-Bold";
  color: #404040;
  opacity: 0.12;
  rotate: 270deg;
}

.service-offerings-section-col-2 img {
  width: 100%;
  height: 100%;
  object-fit: conver;
}

.service-offerings-toggle-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.service-offerings-toggle-head.active .service-offerings-toggle-content {
  max-height: 500px;
  /* transition-delay: 500ms; */
}

.service-offerings-toggle-head.active .service-offerings-toggle-num p {
  color: var(--primary-color);
  opacity: 1;
}

/* sub services  */
.services-of-sub-service {
  padding-right: clamp(50px, 7.81vw, 140px);
  padding-left: clamp(50px, 7.81vw, 140px);
  padding-top: 50px;
  border-top: 1px solid #f3f1f1;
}

.services-of-sub-service .section-heading {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: "Quadran-Black";
  letter-spacing: -2px;
  text-transform: uppercase;
}

.services-of-sub-service-holder {
  /* background-color: #fbfbfb; */
  padding-bottom: 50px;
  padding-right: clamp(50px, 7.81vw, 140px);
  padding-left: clamp(50px, 7.81vw, 140px);
  position: relative;
  overflow: hidden;
  /* border-radius: 60px; */
  /* clip-path: polygon(8% 0, 91% 0, 100% 8%, 100% 92%, 91% 100%, 8% 100%, 0 92%, 0 8%); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.services-of-sub-service-holder :first-child{
  grid-column: span 2; 
  grid-row: span 2;
  background-color: #F6F6F6;
}

.sub-service-card {
  border-bottom: 4px solid;
  border-image: linear-gradient(
      to right,
      var(--primary-color) 20%,
      transparent 20%
    )
    100% 1;
}

.sub-service-card h2 {
  font-size: 16px;
  font-family: "Quadran-Bold";
  color: var(--primary-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sub-service-card p {
  font-size: 16px;
  font-family: "Quadran-Light";
  color: #404040;
  margin-bottom: 20px;
}

/* sub services why choose section */
.sub-services-why-choose-section {
  border-bottom: 1px solid #f3f1f1;
  background-color: var(--primary-color);
}

.sub-services-why-choose-section .section-heading {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sub-services-why-choose-cards-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sub-services-why-choose-cards-holder > div {
  flex: 1;
}

.sub-services-why-choose-cards-holder h2 {
  font-size: 24px;
  color: white;
  font-family: "Quadran-Bold";
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -1px;
}

.sub-services-why-choose-cards-holder p {
  font-size: 16px;
  color: white;
  font-family: "Quadran-Light";
  text-align: center;
  margin-bottom: 0px;
  padding: 0px 35px;
}

.sub-services-why-choose-cards-holder img {
  margin-bottom: 20px;
}

.sub-service-banner-image {
  padding-left: clamp(50px, 14.58vw, 280px);
  margin-bottom: 50px;
}

.sub-service-content-side-image {
  width: 536px;
  height: 406px;
  position: relative;
}

.sub-service-scroller{
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 140px;
  /* background-color: black; */
}

.sub-service-scroller-line{
  width: 6px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
}

.sub-service-scrollbar-image-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.sub-service-scroller img{
    position: sticky;
    top: 261px;
    margin-left: 20.2px;
}

.sub-service-card img{
  margin-bottom: 30px;
}

#path-6{
  position: absolute;
  top: 30px;
  left: -30px;
}

#path-7{
  position: absolute;
  top: -25%;
  left: -100px;
  z-index: -1;
}

#path-8{
  position: absolute;
  top: 49%;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1600px) {
  #path-6{
    display: none;
  }
}

@media screen and (max-width: 1339px) {
  .all-service-list-container,
  .services-container,
  .services-of-sub-service-holder {
    grid-template-columns: 1fr 1fr;
  }

  .services-hero-content {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .strategic-path-section {
    flex-direction: column;
  }

  .strategic-path-content {
    padding: 0px;
    padding-bottom: 30px;
  }

  .services-hero {
    background-position: right 22% top;
  }
}

@media screen and (max-width: 1180px) {
  .service-listing-heading-section .heading2 {
    font-size: 24px;
    line-height: 28px;
  }

  .service-listing-heading-section .heading3 {
    font-size: 34px;
    line-height: 38px;
  }

  .business-today-section h2 {
    font-size: 34px;
    line-height: 38px;
  }
}

@media screen and (max-width: 900px) {
  .all-service-list-container,
  .services-container,.services-of-sub-service-holder {
    grid-template-columns: 1fr;
  }

  .service {
    max-width: unset;
  }

  .business-today-section > div {
    width: 100%;
  }

  .all-services-list-head-container > div:last-child {
    display: none;
  }

  .business-today-section p {
    font-size: 20px;
    line-height: 24px;
  }

  .service-sub-heading {
    width: 85%;
    font-size: 20px;
    line-height: 24px;
  }

  .success-path-section .section-heading {
    font-size: 24px;
    line-height: 28px;
  }

  .services-hero h1 {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 816px) {
  .services-hero-content {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .service-listing-heading-section {
    flex-direction: column;
    align-items: center;
  }

  .service-listing-heading-section > div:first-child {
    rotate: 90deg;
    margin-top: -100px;
    position: relative;
    display: none;
  }

  .glimpse-section {
    flex-direction: column;
  }

  .glimpse-column-1 {
    padding-right: 0px;
  }

  .accordation-container {
    flex-direction: column;
    gap: 0px;
  }
}

@media screen and (max-width: 500px) {
  .business-today-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .services-hero {
    padding-left: 25px;
  }

  .services-hero-content {
    left: 50px;
  }
}
